entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: web-secure
  web-secure:
    address: ":443"

providers:
  docker:
    watch: true
    exposedbydefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true
    filename: dynamic.yml
    
api:
  dashboard: true
  insecure: true